body {
        overflow: hidden;
        height: 100%;
}

h1 {
    color: black;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 


.content {
    width: 1600px;
    height: 800px;
    overflow: hidden;
    background-size: cover;
    background-color: aquamarine;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-name {
    font-size: 150px;
    text-align: center;
}

.btn-game {
    width: 500px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 130px;
    height: 50px;
}