@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Pacifico&family=Parisienne&family=Poppins&display=swap');

:root {
    --modal-btn-textcolor: #F2F2F2;
    --modal-btn-backgroundcolor: #181818;
    --better-webkit-box-shadow: 0 0 10px rgba(25, 25, 25, 0.3);
    --better-box-shadow: 0 0 10px rgba(25, 25, 25, 0.3);
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    overflow: hidden;
    height: 100vh;
    background-color: #181818;
}

h1 {
    color: #181818;
}


/* GAME CONTENT */
.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    width: 1600px;
    height: 800px;
    overflow: hidden;
    background-size: cover;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: var(--better-webkit-box-shadow);
    box-shadow: var(--better-box-shadow);
}

.movie-name {
    font-size: 150px;
    text-align: center;
    color: #181818;
    text-shadow: 2px 2px rgba(25, 25, 25, 0.3);

}

.btn-game {
    width: 1500px;
    display: flex;
    justify-content: space-between;
}

.btn {
    font-family: 'Poppins', sans-serif;
    width: 500px;
    height: 100px;
    border-radius: 20px;
    margin-bottom: -60px;
    -webkit-box-shadow: 0 0 10px rgba(25, 25, 25, 0.3);
    box-shadow: 0 0 10px rgba(25, 25, 25, 0.3);
    border-style: none;
    font-size: 60px;
}

.btn-pass {
    background-color: #EA7186;
    color: #EBE8E7;
    text-shadow: 2px 2px rgba(25, 25, 25, 0.3);
    -webkit-box-shadow: var(--better-webkit-box-shadow);
    box-shadow: var(--better-box-shadow);
}

.btn-pass:hover {
    opacity: 90%;
}

.btn-correct {
    background-color: #70beab;
    color: #EBE8E7;
    text-shadow: 2px 2px rgba(25, 25, 25, 0.3);
    -webkit-box-shadow: var(--better-webkit-box-shadow);
    box-shadow: var(--better-box-shadow);
}

.btn-correct:hover {
    opacity: 90%;
}

/* TOP BAR */
.topbar {
    margin-bottom: 2%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#game-title {
    font-family: 'Parisienne', cursive;
    font-size: 120px;
    height: 150px;
    color: #EBE8E7;
    text-shadow: 2px 2px rgba(25, 25, 25, 0.3);
}

#score {
    height: 150px;
    width: 300px;
    color: #EBE8E7;
    display: flex;
    align-items: center;
    justify-content: center;
}

#countdown {
    border-radius: 20px;
    height: 150px;
    width: 300px;
    color: #EBE8E7;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* INTRO MODAL */
#intro_modal_container {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.intro-modal {
    width: 800px;
    height: 360px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 10px rgba(25, 25, 25, 0.3);
    box-shadow: 0 0 10px rgba(25, 25, 25, 0.3);
}

#intro-modal-title {
    font-size: 100px;
    margin: 0;
    color: #181818
}

#intro-modal-text {
    padding: 20px;
    font-size: 20px;
    margin-top: -3%;
    text-indent: 10px;
}

#intro-btn-closemodal {
    text-align: center;
    font-size: 40px;
    margin-top: 0;
    height: 70px;
    width: 300px;
    border-radius: 20px;
    border-color: #181818;
    border-style: solid;
    background-color: var(--modal-btn-backgroundcolor);
    color: var(--modal-btn-textcolor);
    -webkit-box-shadow: var(--better-webkit-box-shadow);
    box-shadow: var(--better-box-shadow);
}

#intro-btn-closemodal:hover {
    opacity: 90%;
}

/* ENDING MODAL */
#modal_container {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 800px;
    height: 360px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: var(--better-webkit-box-shadow);
    box-shadow: var(--better-box-shadow);
}

#modal-title {
    font-size: 80px;
    margin: 0;
    color: #181818;
}

#modal-input {
    height: 55px;
    width: 500px;
    margin-top: 5%;
    font-size: 30px;
    border-radius: 20px;
    border-style: none;
    -webkit-box-shadow: var(--better-webkit-box-shadow);
    box-shadow: var(--better-box-shadow);
}

#btn-closemodal {
    background-color: var(--modal-btn-backgroundcolor);
    color: var(--modal-btn-textcolor);
    font-size: 40px;
    margin-top: 5%;
    height: 70px;
    width: 300px;
    border-radius: 20px;
    border-style: none;
    -webkit-box-shadow: var(--better-webkit-box-shadow);
    box-shadow: var(--better-box-shadow);
}

#btn-closemodal:hover {
    opacity: 90%;
}

/* SCOREBOARD MODAL */
#score_modal {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
    display: none;
    justify-content: center;
    align-items: center;
}

.score-table {
    width: 1200px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    -webkit-box-shadow: 0 0 10px rgba(25, 25, 25, 0.3);
    box-shadow: 0 0 10px rgba(25, 25, 25, 0.3);
}

table {
    width: 1200px;
    table-layout: fixed;
    border-collapse: collapse;
    overflow-y: hidden;
    overflow-x: hidden;
    display: block;
}

thead {
    width: 1200px;
    height: 50px;
    position: relative;
    background-color: #181818;
    color: white;
    display: flex;
    align-items: center;
}

tbody {
    width: 1200px;
    height: 550px;
    position: relative;
    display: flex;
    flex-direction: column;
}

tr {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    overflow: hidden;
    margin-top: 5px;
}

td {
    width: 300px;
    overflow: hidden;
    text-align: center;
}

#btn-scoreboard {
    margin-bottom: 1%;
    width: 250px;
    height: 100px;
    text-align: center;
    font-size: 40px;
    border-radius: 20px;
    background-color: #181818;
    color: #F2F2F2;
    border-style: none;
    -webkit-box-shadow: var(--better-webkit-box-shadow);
    box-shadow: var(--better-box-shadow);
}

#btn-scoreboard:hover {
    opacity: 90%;
}